<body>

  <header>
    <div class="logo">gDMS</div>
    <nav class="nav">
      <ul>
        <li><a routerLink="/">Home</a></li>   
        <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register">Register</a></li>
        <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/dashboard">Dashboard</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/profile">Profile</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/settings">Settings</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/documents">Documents</a></li>
        <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>